body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

form {
    background: white;
    padding: 20px;
    max-width: 500px;
    margin: auto;
}

input, textarea, select, button {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
}

button {
    background: #007bff;
    color: white;
    border: none;
}

pre {
    background: black;
    color: #00ff00;
    padding: 15px;
    margin-top: 20px;
}
